/*
  Header bar at top (Bootstrap nav-bar)
*/

.topbar > .container {
  @media (max-width: breakpoint-max(xs)) {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-brand {  /* The main logo image for the Blacklight instance */
	color: #fff !important;
	font-size: 16px;

	&:hover {
		text-decoration: none;
	}
}

.navbar-search {
  z-index: 1;

  .search-field {
    background: transparent;
    border: none;
  }

  .search-query-form {
    @extend .col-md-8;
    padding-left: 0;
  }

  .input-group-addon.for-search-field {
    padding-bottom: calc(0.5rem - 1px);
  }

  .submit-search-text {
    // hide 'search' label at very small screens
    @media screen and (max-width: breakpoint-max(xs)) {
      // @include sr-only();
    }
  }
}
