<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="main-flashes">
        <div class="flash_messages">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div id="sidebar" class="col-md-3" role="complementary">
      <h4 class="nav-heading">About</h4>
      <ul class="nav sidenav">
        <li class="active">
          <a href="/1947-partition/about/1947-partition-of-india-pakistan">1947 Partition of India &amp; Pakistan</a>
        </li>
        <li class="">
          <a href="/1947-partition/about/this-collection">This Collection</a>
        </li>
        <li class="">
          <a href="/1947-partition/about/partner-institutions">Partner Institutions</a>
        </li>
      </ul>
      <h4 class="contacts-header">Contacts</h4>
      <ol class="nav sidenav contacts">
        <li itemscope="" itemtype="http://schema.org/Person">
          <img class="contact-photo" src="https://exhibits.stanford.edu/images/2219/8,23,312,312/70,70/0/default.jpg" alt="Default">
          <div itemprop="name" class="name">C. Ryan Perkins</div>
          <div itemprop="jobTitle">
            South Asian Studies Librarian
          </div>
          <div itemprop="workLocation">
            Green Library
          </div>
          <div itemprop="email">
            <a href="mailto:c.ryanperkins@stanford.edu">c.ryanperkins@stanford.edu</a>
          </div>
        </li>
        <li itemscope="" itemtype="http://schema.org/Person">
          <img class="contact-photo" src="https://exhibits.stanford.edu/images/2241/8,116,848,848/70,70/0/default.jpg" alt="Default">
          <div itemprop="name" class="name">Guneeta Singh Bhalla</div>
          <div itemprop="jobTitle">
            Exhibit Co-Curator
          </div>
          <div itemprop="workLocation">
            The  1947 Partition Archive
          </div>
          <div itemprop="email">
            <a href="mailto:guneeta@stanford.edu">guneeta@stanford.edu</a>
          </div>
        </li>
        <li itemscope="" itemtype="http://schema.org/Person">
          <div itemprop="name" class="name">Rohini Ramkrishnan</div>
          <div itemprop="jobTitle">
            Exhibit Co-Curator
          </div>
          <div itemprop="workLocation">
            The  1947 Partition Archive
          </div>
        </li>
      </ol>
    </div>
    <div class="col-md-9">
      <div class="clearfix">
        <h1 class="page-title">
          1947 Partition of India &amp; Pakistan
        </h1>
      </div>
      <div>
        <div class="st__content-block st__content-block--text">
          <p>by <a href="https://library.stanford.edu/people/crperks">C. Ryan Perkins</a></p>
        </div>
        <div class="st__content-block st__content-block--text">
          <p>As the clock struck midnight on August 15, 1947, celebratory shouts of freedom from colonial rule were drowned out by the cries of millions frantically making their way through the corpse-littered landscape of nascent India and Pakistan. After more than one hundred years of British East India Company rule and an additional 90 years of the British Raj, the Indian subcontinent had finally achieved Independence. What should have been a moment of crowning triumph after years of anti-colonial struggle was indelibly marred by unimaginable violence and bloodshed. </p>

        </div>
        <div class="st__content-block st__content-block--text">
          <p>Up to two million people lost their lives in the most horrific of manners. The darkened landscape bore silent witness to trains laden with the dead, decapitated bodies, limbs strewn along the sides of roads, and wanton rape and pillaging. There was nothing that could have prepared the approximately 14 million refugees for this nightmare. The 1947 Partition of the Indian subcontinent into the independent nations of Hindu-majority India and Muslim-majority Pakistan was accompanied by one of the largest mass migrations in human history and violence on a scale that had seldom been seen before. As the provinces of the Punjab and Bengal were effectively split in half approximately seven million Hindus and Sikhs and seven million Muslims found themselves in the wrong country. Believing they would return "home," many families left their valuables behind before they packed up their essential belongings and began the trek to India or West or East Pakistan (now Bangladesh). Many never made it. </p>

        </div>
        <div class="st__content-block st__content-block--text">
          <p>How could neighboring communities, accustomed to centuries of relative peace have suddenly turned so violently upon one another? One could blame the July 15, 1947 decision by the British to hand over power only a month later on August 15, 1947, a full ten months earlier than anticipated. One could blame the hastily drawn borders, which were created by a British lawyer, Sir Cyril Radcliffe who lacked basic knowledge of India and was given only five weeks to redraw all the borders of South Asia. One could fault the increasingly hostile rhetoric that accompanied the rise of Hindu and Muslim nationalism or the divide and rule policies of the British. </p>

        </div>
        <div class="st__content-block st__content-block--text">
          <p>Whereas the popularly accepted narrative of Partition stresses each of these factors and characterizes the violence as neighbor turning against neighbor and bands of weapon-laden young men in the throes of a communal frenzy seeking out their next victims, these interviews provide different perspectives. They not only help illuminate a period that has been difficult to make sense of, but they also provide a challenge to popular narratives of Partition. As more scholars, students, and lay people work with these interviews it is my hope that new histories will be written – ones that balance the political workings of Partition with the lived human experiences. </p>

        </div>
        <div class="st__content-block st__content-block--text">
          <p>These Partition memories, as represented in this collection of interviews, underscores the fragility of our humanity, of the depths and heights of which we are capable of falling to and ascending. It is hoped that these personal stories will not only provide a greater level of understanding of the lived experiences of Partition, but that they will serve to bridge the stories from all sides of the borders and remind us that our commonalities are greater than our differences.</p>

        </div>

        <hr>

        <div class="st__content-block st__content-block--text">
          <p>The exhibit tile image is a photograph by Margaret Bourke-White/Life Picture Collection/Getty.</p>
        </div>
      </div>
    </div>
  </div>
</div>
